name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  PYTHON_VERSION: '3.14'
  # renovate: datasource=pypi depName=uv
  UV_VERSION: '0.9.21'

permissions: {}

jobs:
  quality:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true
          cache-dependency-glob: 'uv.lock'

      - name: Install Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Python dependencies
        # We want to install all groups here to make sure that deptry has access to all dependencies for the inspection,
        # even development ones.
        run: uv sync --frozen

      - name: Setup Rust toolchain
        run: rustup component add clippy rustfmt

      - uses: j178/prek-action@91fd7d7cf70ae1dee9f4f44e7dfa5d1073fe6623 # v1.0.11
        with:
          # We skip mypy hook because it runs in "tests" job.
          extra-args: '--all-files --skip mypy'

      - name: Inspect dependencies with deptry
        run: uv run deptry python

  tests:
    strategy:
      matrix:
        os:
          - name: linux
            image: ubuntu-24.04
          - name: macos
            image: macos-15
          - name: windows
            image: windows-2025
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
          - 'pypy3.11'
      fail-fast: false
    runs-on: ${{ matrix.os.image }}
    name: ${{ matrix.os.name }} (${{ matrix.python-version }})
    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true
          cache-dependency-glob: 'uv.lock'
          cache-suffix: ${{ matrix.python-version }}

      - name: Install Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: uv sync --frozen --no-default-groups --group test --group typing

      - name: Check typing
        run: uv run --no-default-groups mypy
        if: ${{ matrix.os.name == 'linux' && !startsWith(matrix.python-version, 'pypy') }}

      - name: Run unit tests
        run: uv run --no-default-groups pytest tests/unit --cov --cov-config=pyproject.toml --cov-report=xml

      - name: Run functional tests
        run: uv run --no-default-groups pytest tests/functional -n auto --dist loadgroup
        env:
          PYTHONIOENCODING: 'utf-8'

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        if: ${{ matrix.os.name == 'linux' && matrix.python-version == env.PYTHON_VERSION }}

  check-docs:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true
          cache-dependency-glob: 'uv.lock'

      - name: Install Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Check if documentation can be built
        run: uv run --only-group docs mkdocs build --strict
