name: validate-renovate-config

on:
  pull_request:
    paths:
      - '.github/workflows/validate-renovate-config.yml'
      - '.github/renovate.json5'
  push:
    branches: [main]

env:
  # renovate: datasource=node depName=node versioning=node
  NODE_VERSION: '24'

permissions: {}

jobs:
  validate-renovate-config:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: npx -p renovate renovate-config-validator
