name: validate-renovate-config

on:
  pull_request:
    paths:
      - '.github/workflows/validate-renovate-config.yml'
      - '.github/renovate.json5'
  push:
    branches: [main]

env:
  # renovate: datasource=node depName=node versioning=node
  NODE_VERSION: '24'
  # renovate: datasource=npm depName=pnpm
  PNPM_VERSION: '10.28.0'

permissions: {}

jobs:
  validate-renovate-config:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      # Avoid installing packages that are newer than 1 week old to reduce supply chain attacks probability.
      - run: pnpm config set minimumReleaseAge 10080
      - run: pnpm --package renovate dlx renovate-config-validator
