name: validate-codecov-config

on:
  pull_request:
    paths:
      - '.github/workflows/validate-codecov-config.yml'
      - 'codecov.yaml'
  push:
    branches: [main]

permissions: {}

jobs:
  validate-codecov-config:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Validate codecov configuration
        run: curl -sSL --fail-with-body --data-binary @codecov.yaml https://codecov.io/validate
