name: validate-renovate-config

on:
  pull_request:
    paths:
      - '.github/workflows/validate-renovate-config.yml'
      - '.github/renovate.json5'
  push:
    branches: [main]

env:
  # renovate: datasource=node depName=node versioning=node
  NODE_VERSION: '24'

permissions: {}

jobs:
  validate-renovate-config:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: npx -p renovate renovate-config-validator
